:root {
  /* Box Sixing */
  --full: 100%;
  /* Box Sixing */

  /* Primary color */
  --blue-50: #ebf3fe;
  --blue-100: #d8e6fd;
  --blue-200: #b1cefb;
  --blue-300: #8ab5fa;
  --blue-400: #639cf8;
  --blue-500: #3b82f6;
  --blue-600: #0b60ea;
  --blue-700: #0848b0;
  --blue-800: #053075;
  --blue-900: #03183b;
  --blue-950: #010c1d;
  /* Primary color */

  /* Text and body */
  --black-50: #e8e8e8;
  --black-100: #d4d4d4;
  --black-200: #a6a6a6;
  --black-300: #7a7a7a;
  --black-400: #4f4f4f;
  --black-500: #222222;
  --black-600: #1c1c1c;
  --black-700: #141414;
  --black-800: #0d0d0d;
  --black-900: #080808;
  --black-950: #030303;
  --white-50: #ffffff;
  --white-100: #fcfcfc;
  --white-200: #fafafa;
  --white-300: #fafafa;
  --white-400: #f7f7f7;
  --white-500: #f5f5f5;
  --white-600: #c4c4c4;
  --white-700: #949494;
  --white-800: #616161;
  --white-900: #303030;
  --white-950: #1a1a1a;
  /* Text and body */
}

p {
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
}

:is(button, input, select, textarea) {
  border: none;
  background: none;
}

input {
  padding: 12px 16px;
  border: 1px solid var(--white-600);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

:is(a, button) {
  transition: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--white-500);
  color: var(--black-500);
}

.container {
  position: relative;
  width: var(--full);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--full);
  padding: 24px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  gap: 24px;
}

.nav .list .link {
  color: var(--black-300);
}

.nav .list.active .link {
  color: var(--black-500);
}

.content {
  padding: 1.5rem 3rem;
}

.shadow {
  background: var(--white-100);
  box-shadow: 0px 4px 4px -4px #1e212c0d, 0px 12px 10px -6px #9a9ca514,
    0px 30px 24px -10px #9a9ca51a, 0px 80px 80px -20px #9a9ca529;
}

.primary-outline {
  border: 1px solid var(--blue-500);
  color: var(--blue-500);
}

.primary-outline:hover {
  border: 1px solid transparent;
  background: var(--blue-500);
  color: var(--white-500);
}

.primary:hover {
  border: 1px solid var(--blue-500);
  background: transparent;
  color: var(--blue-500);
}

.primary {
  border: 1px solid transparent;
  background: var(--blue-500);
  color: var(--white-500);
}
